<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<Properties>
		<Property name="run.basedir" value="./logs" />
	</Properties>

	<appenders>
		<RollingFile name="DEFAULT_LOG_FILE" fileName="${run.basedir}/logs.log"
			filePattern="${run.basedir}/logs-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|%t|%c{5}.%L|%msg%xEx%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
		
		<console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|%t|%c{5}.%L|%msg%xEx%n" />
		</console>
	</appenders>

	<loggers>
		<root level="info">
			<appender-ref ref="DEFAULT_LOG_FILE" />
			<appender-ref ref="Console" />
		</root>
	</loggers>

</configuration>